<h1>Listing Countries</h1>
<%= link_to 'New Artist', new_artist_path %>
 
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Continent</th>
    <th>Notes</th>
  </tr>
 
  <% @artists.each do |artist| %>
    <tr>
    
    </tr>
  <% end %>
</table>