<h1 class="welcome_title" >Common Effort</h1>
<p>Common Effort is an organization that provides quality hand made goods made by organized groups of artists from around the world. We try to focus on groups who wouldn't otherwise have the oppertunity to bring their work to the market </p>
